body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background: #f5f5f5;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1400px;
  background: #ffffff;
  padding: 125px;
}

h1 {
  width: 956px;
  margin-bottom: 30px;
  font-size: 60px;
  letter-spacing: -1.8px;
  color: #121212;
}

.home {
  margin-bottom: 150px;
  padding-top: 379px;
  padding-left: 40px;
  padding-bottom: 40px;
  background-image: url(../resurses/серый\ стул.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.image-text {
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.history {
  width: 1048px;
  height: 366px;
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
}

.we {
  margin-bottom: 150px;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.03em;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #ad1818;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.project {
  margin-bottom: 90px;
}

h3 {
  font-size: 30px;
  line-height: 40.98px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn_project {
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
}
