body {
  font-family: "Manrope", sans-serif;
}

h1 {
  color: #121212;
  width: 956px;
  font-size: 60px;
  padding-bottom: 30px;
}

.home {
  width: 1150px;
  height: 500px;
  background-image: url(../resurses/серый\ стул.png);
  background-size: contain;
  background-repeat: no-repeat;
}

p {
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding: 370px 40px;
}

.history {
  width: 1048px;
  height: 366px;

  font-size: 45px;

  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
}

.btn {
  display: block;
  width: 200px;
  height: 30px;
  border: 1px solid red;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  color: #121212;
  margin-bottom: 30px;
  cursor: pointer;
}

.btn:hover {
  color: bisque;
  background-color: red;
}
