body {
  font-family: "Manrope", sans-serif;
}

h1 {
  color: #121212;
}

img {
  width: 1150px;
  height: 500px;
  top: 278px;
  left: 125px;
}

.img-body {
  width: 260px;

  background-image: url(../resurses/серый\ стул.png);
  background-size: contain;
  background-repeat: no-repeat;

  text-align: center;

  padding: 93px 50px;
}

.img-body-text-wrapper {
  color: white;
}

.img-body-text-wrapper h3 {
  color: aqua;
}
